less==0.1
torch==2.1.2
z3-solver==4.12.2.0
sympy==1.12
gmpy2==2.1.5
networkx==3.1
expecttest==0.1.5
Pillow==10.0.0
PyYAML==6.0
beniget==0.4.1
scipy==1.11.1
deap==1.4.0
ply==3.11
gast==0.5.4
numpy==1.25.1
Bottleneck==1.3.7
pythran==0.13.1
mpmath==1.3.0
versioneer==0.29
tzdata==2023.3
pandas==2.0.3
numexpr==2.8.4
pybind11==2.11.1
protobuf==4.24.0
pytest-xdist==3.3.1
more-itertools==9.1.0
Sphinx==7.0.1
charset-normalizer==3.1.0
ptyprocess==0.7.0
webencodings==0.5.1
cffi==1.15.1
pytoml==0.1.21
intreehooks==1.0
crashtest==0.4.1
MarkupSafe==2.1.3
scandir==1.10.0
threadpoolctl==3.1.0
decorator==5.1.1
tomli_w==1.0.0
shellingham==1.5.0.post1
zipp==3.15.0
backports.functools-lru-cache==1.6.5
python-dateutil==2.8.2
backports.entry-points-selectable==1.2.0
certifi==2023.5.7
keyrings.alt==4.2.0
markdown-it-py==3.0.0
lockfile==0.12.2
cleo==2.0.1
msgpack==1.0.5
sphinxcontrib-websupport==1.2.4
dulwich==0.21.5
Jinja2==3.1.2
Babel==2.12.1
jeepney==0.8.0
tomli==2.0.1
pooch==1.7.0
zipfile36==0.1.3
glob2==0.7
pbr==5.11.1
pycryptodome==3.18.0
pathlib2==2.3.7.post1
rich==13.4.2
ujson==5.8.0
appdirs==1.4.4
editables==0.3
mock==5.0.2
docutils==0.20.1
PyNaCl==1.5.0
sphinx-bootstrap-theme==0.8.1
mdurl==0.1.2
requests==2.31.0
pytz==2023.3
alabaster==0.7.13
tomlkit==0.11.8
packaging==23.1
exceptiongroup==1.1.1
distro==1.8.0
py==1.11.0
sphinxcontrib-serializinghtml==1.1.5
cachy==0.3.0
sphinxcontrib-qthelp==1.0.3
pluggy==1.2.0
pytest==7.4.0
six==1.16.0
requests-toolbelt==1.0.0
semantic-version==2.10.0
simplejson==3.19.1
snowballstemmer==2.2.0
pyrsistent==0.19.3
doit==0.36.0
sortedcontainers==2.4.0
iniconfig==2.0.0
importlib-resources==5.12.0
commonmark==0.9.1
blist==1.3.6
simplegeneric==0.8.1
SecretStorage==3.3.3
netaddr==0.8.0
pathspec==0.11.1
html5lib==1.1
docopt==0.6.2
xlrd==2.0.1
jaraco.classes==3.2.3
netifaces==0.11.0
cloudpickle==2.2.1
pastel==0.2.1
urllib3==1.26.16
ipaddress==1.0.23
liac-arff==2.5.0
jsonschema==4.17.3
future==0.18.3
pydevtool==0.3.0
sphinxcontrib-jsmath==1.0.1
rich-click==1.6.1
click==8.1.3
wcwidth==0.2.6
pyasn1==0.5.0
filelock==3.12.2
fsspec==2023.6.0
ecdsa==0.18.0
sphinxcontrib-applehelp==1.0.4
chardet==5.1.0
importlib-metadata==6.7.0
attrs==23.1.0
tabulate==0.9.0
bitstring==4.0.2
pylev==1.4.0
pexpect==4.8.0
keyring==23.13.1
sphinxcontrib-devhelp==1.0.2
joblib==1.2.0
execnet==1.9.0
Pygments==2.15.1
py-expression-eval==0.3.14
regex==2023.6.3
sphinxcontrib-htmlhelp==2.0.1
Cython==0.29.35
intervaltree==3.1.0
pyparsing==3.1.0
CacheControl==0.12.14
platformdirs==3.8.0
distlib==0.3.6
pycparser==2.21
idna==3.4
psutil==5.9.5
toml==0.10.2
asn1crypto==1.5.1
colorama==0.4.6
rapidfuzz==2.15.1
pkginfo==1.9.6
atomicwrites==1.4.1
imagesize==1.4.1
virtualenv==20.23.1
filelock==3.12.2
platformdirs==3.8.0
distlib==0.3.6
cryptography==41.0.1
cffi==1.15.1
pycparser==2.21
yarl==1.17.1
black==24.10.0
kiwisolver==1.4.7
traker==0.1.3
gradio_client==1.4.3
nvidia-cublas-cu12==12.1.3.1
aiohappyeyeballs==2.4.3
py-cpuinfo==9.0.0
h11==0.14.0
multidict==6.1.0
gguf==0.9.1
pycodestyle==2.12.1
nvidia-ml-py==12.560.30
nltk==3.8.1
protobuf==5.28.3
starlette==0.41.3
uvicorn==0.32.1
numba==0.60.0
flash-attn==2.6.3
scikit-learn==1.5.2
lark==1.2.2
nvidia-nccl-cu12==2.20.5
httptools==0.6.4
safehttpx==0.1.1
safetensors==0.4.5
typer==0.13.1
orjson==3.10.11
aiohttp==3.10.10
rpds-py==0.21.0
nest-asyncio==1.6.0
nvidia-cusolver-cu12==11.4.5.107
jsonlines==4.0.0
mccabe==0.7.0
datasets==3.1.0
nvidia-nvjitlink-cu12==12.4.127
multiprocess==0.70.16
fire==0.7.0
pyairports==2.1.1
transformers==4.36.2
nvidia-cudnn-cu12==9.1.0.70
prometheus-fastapi-instrumentator==7.0.0
tiktoken==0.7.0
referencing==0.35.1
llvmlite==0.43.0
annotated-types==0.7.0
flake8==7.1.1
termcolor==2.5.0
rouge-score==0.1.2
autoflake==2.3.1
nvidia-nvtx-cu12==12.1.105
antlr4-python3-runtime==4.11.0
pyarrow==18.0.0
mypy-extensions==1.0.0
hjson==3.1.0
tensorboard-data-server==0.7.2
tomlkit==0.12.0
propcache==0.2.0
diskcache==5.6.3
docker==7.1.0
et_xmlfile==2.0.0
httpcore==1.0.7
typing_extensions==4.12.2
aiofiles==23.2.1
pydantic_core==2.27.0
nvidia-cusparse-cu12==12.1.0.106
jsonschema-specifications==2024.10.1
fastapi==0.115.5
smmap==5.0.1
frozenlist==1.5.0
python-dotenv==1.0.1
unidic-lite==1.0.8
tqdm==4.67.0
anyio==4.6.2.post1
gradio==5.6.0
peft==0.7.1
python-multipart==0.0.12
alpaca_eval==0.6.2
openpyxl==3.1.5
pillow==10.4.0
docker-pycreds==0.4.0
torchaudio==2.4.0
fast-jl==0.1.3
gitdb==4.0.11
ffmpy==0.4.0
sniffio==1.3.1
Flask==3.1.0
mistral_common==1.5.1
setproctitle==1.3.3
patsy==1.0.1
triton==3.0.0
vllm-flash-attn==2.6.1
torch==2.4.0
torch==2.5.1
sentencepiece==0.2.0
langdetect==1.0.9
partial-json-parser==0.2.1.1.post4
jiter==0.7.1
cycler==0.12.1
watchfiles==0.24.0
evaluate==0.4.3
accelerate==0.34.2
tokenizers==0.15.2
nvidia-cufft-cu12==11.0.2.54
beaker-py==1.32.2
pycountry==24.6.1
openai==1.55.0
Werkzeug==3.1.3
nvidia-cuda-cupti-cu12==12.1.105
aiosignal==1.3.1
httpx==0.27.2
absl-py==2.1.0
sentry-sdk==2.18.0
outlines==0.0.46
deepspeed==0.15.0
blinker==1.9.0
dill==0.3.8
nvidia-cuda-runtime-cu12==12.1.105
msgspec==0.18.6
pyzmq==26.2.0
grpcio==1.68.0
immutabledict==4.2.1
tensorboard==2.18.0
requests==2.32.3
open_instruct==0.0.1
hf_transfer==0.1.8
isort==5.13.2
litellm==1.52.12
fonttools==4.55.0
huggingface-hub==0.26.2
nvidia-cuda-nvrtc-cu12==12.1.105
zipp==3.21.0
pydantic==2.10.0
lm-format-enforcer==0.10.6
uvloop==0.21.0
matplotlib==3.9.2
contourpy==1.3.1
ray==2.39.0
vllm==0.6.1.post2
einops==0.8.0
xformers==0.0.27.post2
importlib_metadata==8.5.0
pydub==0.25.1
wandb==0.18.6
torchvision==0.19.0
Markdown==3.7
GitPython==3.1.43
ninja==1.11.1.1
bitsandbytes==0.44.1
nvidia-curand-cu12==10.3.2.106
itsdangerous==2.2.0
interegular==0.3.3
jsonschema==4.23.0
xxhash==3.5.0
prometheus_client==0.21.0
ruff==0.7.4
websockets==12.0
sympy==1.13.1
pyflakes==3.2.0
less==0.1
pip==23.1.2
flit_core==3.9.0
wheel==0.40.0
setuptools-scm==7.1.0
tomli==2.0.1
typing_extensions==4.6.3
packaging==23.1
setuptools==67.7.2
